server:
  port: 8080

spring:
  profiles:
    default: local

# =========================
# 공통(app.* 등)
# =========================
app:
  jwt:
    secret: "CHANGE_ME_TO_LONG_RANDOM_SECRET_32+"
    issuer: "my-app"
    access-exp-minutes: 3
    refresh-exp-days: 1

  cors:
    allowed-origins:
      - "http://localhost:5173"
    allowed-methods: ["GET","POST","PUT","PATCH","DELETE","OPTIONS"]
    allowed-headers: ["Authorization","Content-Type","X-Requested-With"]
    exposed-headers: ["Set-Cookie"]
    allow-credentials: true
    max-age-seconds: 3600

  cookie:
    refresh-name: "refreshToken"
    refresh-path: "/auth"
    refresh-secure: false
    refresh-same-site: "Lax"

  security:
    refresh-key-prefix: "refresh:"

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.security: info

# =========================
# local
# =========================
---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1676
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  data:
    redis:
      host: localhost
      port: 6379

app:
  cors:
    allowed-origins:
      - "http://localhost:5173"
  cookie:
    refresh-secure: false
    refresh-same-site: "Lax"

# =========================
# prod
# =========================
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

app:
  cors:
    allowed-origins:
      - ${CORS_ALLOWED_ORIGIN} # 예: https://app.example.com

  jwt:
    secret: ${JWT_SECRET}

  cookie:
    refresh-secure: true
    refresh-same-site: "None"
